<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management system</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; background-color: #d3cdcd;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #877979;">
        <h1 style="color: #8e1b1b; text-align: center;">Library Management system</h1>
        <p style="color: #666666;">Dear [[ user_name ]],</p>
        <p style="color: #666666;">We noticed that you haven't visited the Library Management system App in the past one day. We miss you! There are so many good books waiting for you.</p>
        <div style="text-align: center; margin-top: 20px;">
            <a href="http://127.0.0.1:5000/" style="display: inline-block; background-color: #007bff; color: #ffffff; text-decoration: none; padding: 10px 20px; border-radius: 5px;">Log In Now</a>
        </div>
        <p style="color: #666666;">Thank you for being a part of the Library Management system.</p>
        <p style="color: #666666;">Best regards,</p>
        <p style="color: #666666;">Library Management system team</p>
    </div>
</body>
</html>